/* style .grid as a grid */

.grid{
    margin: auto;
    grid-template-columns: 72px 72px 72px;
    grid-template-rows: 72px 72px 72px;
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    border-style: solid;
    border-width: 1px;
    /* vertical-align: middle; */
}

.grid > div {
    grid-column: span 1;
    grid-row: span 1;
    border-width: 1px;
    border-style: solid;
    vertical-align: middle;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
}

.grid > div > span {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}